
{% extends "/templates/student/studentBase.html" %}
{% block title %}Math Games{% endblock %}

{% block htmlhead %}
    <link href="/static/css/math.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/math.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>My Account</h1>
        </div>
        <div class="row">
          <div class="col-md-4">Name</div>
          <div class="col-md-8">{{ nickname }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Email</div>
          <div class="col-md-8">{{ email }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">My Role</div>
          <div class="col-md-8">{{ role }}</div>
        </div>
    </div>
{% endblock %}
    