
{% extends "/templates/principal/principalBase.html" %}
{% block title %}Home{% endblock %}

{% block content %}
	<div class="container">
	    <div class="page-header">
            <div class="pull-right">
                <a href="/principal/class">
                    <button type="button" class="btn-primary">Add Classroom</button>
                </a>
            </div>
            <h1>{{ school.name }}</h1>
        </div>
        <h2>Classrooms</h2>
        {% for klass in classRooms %}
            {{ klass }}
        {% endfor %}
	</div>
{% endblock %}
