
.carousel-inner>.active {

	overflow: hidden;
}

.carousel-inner .item img {
	width: 100%;
}

#footer .content p {
	margin: 0;
}

#footer .row {
	text-align: left;
}

#footer .row a {
	margin-right: 20px;
	color: #0C785A;
}

.about .featurette-image {
	margin-top: 65px;
}

.product .row.featurette {
	margin-top: 35px;
	margin-bottom: 35px;
}

.contact input {
	margin-bottom: 25px;
	min-width: 350px;
}

.contact textarea {
	width: 100%;
	min-height: 200px;
	margin-bottom: 25px;
}

.contact p {
	margin: 0;
	font-size: 16px;
}