body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.jumbotron {
	font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5 ,h6 {
	font-family: 'Josefin Sans', sans-serif;
}

.footer {
	background-color: #eee;
}

.footer .container {
	text-align: center;
	font-size: 14px;
}

.jumbotron h1 .pull-right {
	font-size: 18px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: 0px -1px 7px 0px black;
    border: none;
}

.center {
	text-align: center;
}

.break {
	height: 35px;
	width: 100%;
}

.navbar-brand {
	padding: 0;
	margin-right: 25px;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 19px;
}

.footer-image {
	height: 70px;
}

.navbar {
	background-color: white;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	overflow: hidden;
 	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -110px;
	/* Pad bottom by footer height */
	padding: 55px 0 110px;
}

/* Set the fixed height of the footer here */
#footer {

  	height: 110px;
  	padding: 10px;
  	background-color: #9EE3D0;
}

#footer h4 {
	color: #0C785A;
}

#footer div {
	color: #0C785A;
}


/*Account Page CSS*/

.account .title {
	padding:15px;
}

.account input {
	min-width: 350px;
	padding-left:10px;
}

