
{% extends "/templates/superintendent/superintendentBase.html" %}
{% block title %}Home{% endblock %}

{% block htmlhead %}
{% endblock %}

{% block content %}
	<div class="container">
	    <div class="page-header">
	    	<form method="post" action="/superintendent/school/{{ school.guid }}">
		        <h1>Editing {{ school.name }}</h1>
		        <input type="text" name="name" value="{{ school.name }}">
		        <button type="submit" class="btn-primary">Save</button>
		    </form>
        </div>
	</div>
{% endblock %}
