
{% extends "/templates/superintendent/superintendentBase.html" %}
{% block title %}Home{% endblock %}

{% block htmlhead %}
{% endblock %}

{% block content %}
	<div class="container account">
	    <div class="page-header">
	    	<h1>My Account</h1>
	    </div>
    	<form method="post" action="/superintendent/account">
	        <table>
	        	<thead></thead>
	        	<tbody>
	        		<tr>
	        			<td class="title">First Name:</td>
	        			<td><input type="text" name="f_name" value="{{ person.f_name }}"></td>
	        		</tr>
	        		<tr>
	        			<td class="title">Last Name:</td>
	        			<td><input type="text" name="l_name" value="{{ person.l_name }}"></td>
	        		</tr>
	        		<tr>
	        			<td class="title">Email:</td>
	        			<td>{{ person.email }}</td>
	        		</tr>
	        	</tbody>
	        </table>
	        <button type="submit" class="btn-primary">Save</button>
	    </form>
	</div>
{% endblock %}
