
{% extends "/templates/base.html" %}
{% block title %}Home{% endblock %}

{% block htmlhead %}
{% endblock %}

{% block content %}
	<div class="container">
	    <div class="jumbotron">
		    <div class="container">
		        <h1>Detectives Around the Clock</h1>
		        <p class="lead">Important links to fun stuff!</p>
		        <a class="btn btn-lg btn-success" href="/spelling">Spelling Game</a>
		        <a class="btn btn-lg btn-info" href="/math">Math Games</a>
		        <a class="btn btn-lg btn-warning" href="/geo">Geography Game</a>
		    </div>
		</div>
	</div>
{% endblock %}
