
{% extends "/templates/public/publicBase.html" %}
{% block title %}Home{% endblock %}

{% block htmlhead %}
{% endblock %}

{% block content %}
	<div class="container about">
	    <div class="page-header">
            <h1>A little bit about us</h1>
        </div>
        <div class="row featurette">
	        <div class="col-md-7">
		          <h2 class="featurette-heading">Rethinking Education.</h2>
		          <p class="lead">
		          	The Learning Center was founded in mid 2013. The idea was inspired by the introduction of chromebooks and other technology into the classrooms. With the lowering costs of technology and the realistic ability for elementary students to have computers in the classroom, development for the Learning Center was soon underway. The Learning Center is currently meeting with school districts across Utah to implement the software in the classroom. Students who are currently using the software see improvements in test scores and find joy in a fun and creative way to practice material learned in class.</p>
		          	<br />
	          		<p>
		          	Today, the Learning Center operates in Provo, Utah where developers and teachers alike collaborate to better serve the needs of children.
		          </p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-thumbnail" src="/static/img/provo.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
      </div>
	</div>
{% endblock %}
