
{% extends "/templates/public/publicBase.html" %}
{% block title %}Home{% endblock %}

{% block htmlhead %}
{% endblock %}

{% block content %}
	<div class="container contact">
	    <div class="page-header">
            <div class="row">
              <div class="col-md-3">
              	<h3>Other Contact Methods</h3>
              	<p>In case you don't trust that big text box.</p>
              	<h3>Address</h3>
              	<p>The Learning Center</p>
              	<p>455 Belmont Pl</p>
              	<p>Provo, UT</p>
              	<h3>Email</h3>
              	<p><a href="mailto:smiles.seth@gmail.com">smiles.seth@gmail.com</a></p>
              </div>
              <div class="col-md-9">
              	<h1>Thanks, we got it!</h1>
              	<p>We'll be getting back to you ASAP.</p>
              </div>
            </div>
        </div>
	</div>
{% endblock %}
