
{% extends "/templates/public/publicBase.html" %}
{% block title %}Home{% endblock %}

{% block htmlhead %}
{% endblock %}

{% block content %}
	<div class="container">
	    <div class="page-header">
            <h1>Our Mission</h1>
        </div>
        <h2 class="featurette-heading">"To enrich our educational system and inspire youth"</h2>
      	<br />
        <div class="row featurette">
	        <div class="col-md-7">
		          <p class="lead">
		          		Far too often in today's world do we see educational budget cuts, diminishing teacher salaries, and our quality of education decrease. Our mission is not to replace the existing system, but enrich curricula with entertaining, educational and fun activities for children and middle schoolers alike. Utilizing the latest technology can help prepare students to face the challenges that will front them in every day life after graduation.
		          	</p>
		          	<br />
	          		<p>
		          	These few simple games can help youth recognize the importance of education and understand that learning can be fun. Aside from supplementing our teachers, our mission is to instill a desire for knowledge in every child.
		          </p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-thumbnail" src="/static/img/mission_featurette.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
      </div>
	</div>
{% endblock %}
