<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/template.css" />
    <link rel="stylesheet" href="/static/css/public.css" />
		<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/static/favicon.png" type="image/png" />
		<script type="text/javascript" src="/static/js/vendors/jquery2.js"></script>
    <script type="text/javascript" src="/static/js/vendors/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/vendors/underscore.js"></script>
		{% block htmlhead %}{% endblock %}
	</head>
	<body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" /></a>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="/product">Product</a></li>
                      <li><a href="/mission">Mission</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/login">Login</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            {% block content %}{% endblock %}
            <div class="break"></div>
        </div>
        <div id="footer" class="footer">
            <div class="container">
                <div>
                  <img class="footer-image" src="/static/img/hexfooter.png" />
                </div>
                <div class="row">
                  <a href="/product">Product</a>
                  <a href="/mission">Mission</a>
                  <a href="/about">About</a>
                  <a href="/contact">Contact</a>
                  <div class="pull-right">
                    © 2013 The Learning Center
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>